<h1 class="font-bold font-['comfortaa'] text-2xl">Product List</h1>
<h3 class="text-lg">Total Products <span class="text-accent">10</span>
</h3>

<div class="flex gap-2 items-center h-20">
  <app-pagination
  [pages]="productResource.value()?.pages ?? 0"
  [currentPage]="paginationService.currentPage()"
  ></app-pagination>

  <select class="select select-bordered w-32" #selectPerPage
  (change)="productsPerPage.set(+selectPerPage.value)">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>

  <div class="flex flex-1">
    <button class="btn btn-primary" routerLink="/admin/products/new">New Product</button>
  </div>

</div>

<div class="divider"></div>

<product-table [products]="productResource.value()?.products ?? []"></product-table>
